In [1]:
##approach_1 by sagnik aka dodo
#dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
df = pd.read_csv('synthetic_mental_health_dataset.csv')

In [3]:
df.sample()

,sleep_hours,screen_time,exercise_minutes,daily_pending_tasks,interruptions,fatigue_level,social_hours,coffee_cups,diet_quality,weather,mood_score,stress_level
1866,8.548819,5.639049,13.781055,0,5,4.924802,3.286315,2,poor,snowy,7.677308,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sleep_hours          2000 non-null   float64
 1   screen_time          2000 non-null   float64
 2   exercise_minutes     2000 non-null   float64
 3   daily_pending_tasks  2000 non-null   int64
 4   interruptions        2000 non-null   int64
 5   fatigue_level        2000 non-null   float64
 6   social_hours         2000 non-null   float64
 7   coffee_cups          2000 non-null   int64
 8   diet_quality         2000 non-null   object
 9   weather              2000 non-null   object
 10  mood_score           2000 non-null   float64
 11  stress_level         2000 non-null   float64
dtypes: float64(7), int64(3), object(2)
memory usage: 187.6+ KB

In [5]:
df.head()

,sleep_hours,screen_time,exercise_minutes,daily_pending_tasks,interruptions,fatigue_level,social_hours,coffee_cups,diet_quality,weather,mood_score,stress_level
0,7.745071,3.649643,13.272466,1,5,4.179955,2.448854,1,average,snowy,9.171062,1.000000
1,6.792604,4.710963,1.785436,3,6,4.883679,1.330623,3,good,sunny,5.706491,3.558516
2,7.971533,3.415160,71.843325,4,10,4.207812,2.134120,0,poor,cloudy,10.000000,2.971450
3,9.284545,4.384077,14.596656,2,4,3.362592,1.857070,0,good,sunny,8.385038,1.000000
4,6.648770,1.212771,19.048010,3,5,6.229107,2.642980,1,poor,rainy,10.000000,1.639047

In [15]:
df.tail()

,sleep_hours,screen_time,exercise_minutes,daily_pending_tasks,interruptions,fatigue_level,social_hours,coffee_cups,diet_quality,weather,mood_score,stress_level
1995,8.605225,5.056915,13.765823,3,3,8.362518,3.113966,2,poor,snowy,8.765375,1.086619
1996,6.960218,0.844376,3.364650,2,7,4.869502,3.775442,0,good,rainy,7.796204,1.000000
1997,5.677188,4.359404,4.040437,6,1,7.494879,2.678349,0,average,snowy,4.701231,3.733475
1998,6.755400,8.286756,9.084104,3,1,5.045832,1.955221,2,average,cloudy,6.170718,1.000000
1999,5.882646,5.721296,11.328076,3,3,6.874822,2.187892,0,poor,sunny,5.999456,1.000000

In [16]:
#checking is no of duplicated rows
df[df.duplicated()]

Empty DataFrame
Columns: [sleep_hours, screen_time, exercise_minutes, daily_pending_tasks, interruptions, fatigue_level, social_hours, coffee_cups, diet_quality, weather, mood_score, stress_level]
Index: []

In [17]:
#if I got any then i would use the below code
df.drop_duplicates(inplace=True)

In [21]:
# listing all number columns by numerical_cols and categorical_cols by categorical_cols
numerical_cols = df.dtypes[df.dtypes != 'object'].index.tolist()
categorical_cols = df.dtypes[df.dtypes == 'object'].index.tolist()

In [24]:
df[numerical_cols].corr()

,sleep_hours,screen_time,exercise_minutes,daily_pending_tasks,interruptions,fatigue_level,social_hours,coffee_cups,mood_score,stress_level
sleep_hours,1.000000,-0.018253,-0.044957,-0.020266,0.020075,0.019656,-0.028364,-0.010743,0.160510,-0.299987
screen_time,-0.018253,1.000000,0.033443,0.000687,-0.000746,-0.044424,0.009172,-0.021468,-0.287830,-0.001215
exercise_minutes,-0.044957,0.033443,1.000000,-0.006550,0.013778,0.022317,0.018532,0.016574,0.702350,0.011245
daily_pending_tasks,-0.020266,0.000687,-0.006550,1.000000,0.008208,0.006637,0.026906,-0.021208,-0.008746,0.798292
interruptions,0.020075,-0.000746,0.013778,0.008208,1.000000,-0.014940,0.001267,-0.008508,0.012302,0.284151
fatigue_level,0.019656,-0.044424,0.022317,0.006637,-0.014940,1.000000,0.029126,0.026313,-0.096589,0.077554
social_hours,-0.028364,0.009172,0.018532,0.026906,0.001267,0.029126,1.000000,-0.002541,0.028679,0.013869
coffee_cups,-0.010743,-0.021468,0.016574,-0.021208,-0.008508,0.026313,-0.002541,1.000000,0.010891,0.063265
mood_score,0.160510,-0.287830,0.702350,-0.008746,0.012302,-0.096589,0.028679,0.010891,1.000000,-0.065135
stress_level,-0.299987,-0.001215,0.011245,0.798292,0.284151,0.077554,0.013869,0.063265,-0.065135,1.000000